body{
    display: grid;
    padding: 50px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

#mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 355px;
    width: 355px;
    background-color: grey;
    padding-left: 5px;
    padding-top: 5px;
}

.square{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: blue;
}