body{
    padding: 50px;
}
h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
}
.playArea{
    width: 100%;
    display: flex;
    justify-content: center;
}
#mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 605px;
    width: 605px;
    background-color: darkblue;
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 0px;
}
#mainGrid .square{
    display: inline-block;
    height: 55px;
    width: 55px;
    background-color: blue;
}
#playerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 305px;
    width: 305px;
    background-color: grey;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 50px;
}
#playerGrid .square{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: lightgray;
    text-align: center;
}
#text{
    text-align: center;
    margin-top: 30px;
}
.startGame{
    font-family: 'Press Start 2P', cursive;
}
p {
    font-family: 'Press Start 2P', cursive;
}
#chooseShip{
    display: flex;
    margin-top: 10px;
    margin: auto;
    max-width: 1000px;
}
.ship{
    margin: auto;
    display: flex;
    background-color: darkgrey;
    height: 54px;
    padding: 3px 0px 3px 3px;
}
.verticalShip{
    margin: -17px auto;
    background-color: darkgrey;
    padding: 3px 0px 3px 3px;
}
.ship2 {
    width: 105px;
}
.verticalShip2{
    width: 54px;
    height: 105px;
}
.ship3 {
    width: 150px;
}
.verticalShip3{
    width: 54px;
    height: 156px;
}
.verticalShip23{
    width: 54px;
    height: 156px;
}
.ship4 {
    width: 200px;
}
.verticalShip4{
    width: 54px;
    height: 207px;
}
.ship5 {
    width: 250px;
}
.verticalShip5{
    width: 54px;
    height: 258px;
}
.shipSquare {
    width: 48px;
    height: 48px;
    background-color: lightgray;
    margin-right: 3px;
    margin-bottom: 3px;
}
.eachShip{
    margin: 0px auto;
    text-align: center;
}